@import "../../styles/variables";
@import "../../styles/bootstrap-customize";

.header{
  max-width: 1440px;
  position: absolute;
  z-index: 101;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  .header-container{
    margin: 20px 20px 0;
    background: $darkGrey;
    height: 90px;
  }
  .logo{
    min-width: 146px;
    max-width: 146px;
    display: inline-block;
    padding: 20px 6px 18px;
    img{
      width: 100%;
    }
  }
  .main-menu{
    padding: 0;
    position: relative;
    margin-right: 220px;
    @include media-breakpoint-down(xs){
      margin-right: 0;
    }
    nav{
      background: $darkGrey;
      padding: 0 15px;

      @include media-breakpoint-down(md){
        text-align: right;
      }

      .collapse{
        &.show{
          padding-bottom: 15px;
        }
      }
      .nav-link{
        color: $white;
        font: 15px $oswald;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        margin-right: 38px;
        line-height: 57px;
        display: inline-block;
        position: relative;
        padding: 0;
        @include media-breakpoint-down(lg){
          margin-right: 25px;
        }
        @include media-breakpoint-down(md){
          line-height: 30px;
          padding-bottom: 15px;
          margin-right: 0;
        }
        &:before{
          content: '';
          background: url( #{$path-img}brush-stroke.png ) repeat-x;
          position: absolute;
          width: 100%;
          height: 8px;
          background-position: center center ;
          border-radius: 8px;
          bottom: 14px;
          opacity: 0;
          transition: .3s linear opacity;
        }
        &:hover{
          text-decoration: none;
          &:before{
            transition: .3s linear opacity;
            opacity: 1;
          }
        }
      }
    }
  }
  .navbar-toggler{
    margin-top: 34px;
    top: 0;
    padding-right: 0;
    padding-left: 0;
    font-size: 13px;
    color: $white;
    white-space: nowrap;
  }
  .navbar-toggler-icon{
    outline: none !important;
    color: inherit;
    font-size: 8px;
    width: auto;
    &:before{
      content: '\f111\f111\f111';
      color: inherit;
      font-family: FontAwesome;
      letter-spacing: 3px;
    }
  }
  .search-box-wrap{
    padding: 15px 21px 18px 0;
    display: inline-block;
    float: left;
  }
  .search-box{
    position: relative;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md){
      justify-content: flex-end;
    }

    .form-control{
      padding: 0.41rem 0.75rem;
      width: 161px;
      font: 15px $oswald;
      line-height: 1.53;
      color: #999;
      display: inline-block;
      border-radius: 5px;
    }
    .search-icon{
      margin-left: 10px;
      background: url(#{$path-img}search.png);
      width: 14px;
      height: 14px;
    }
  }


}
.search-results{
  position: absolute;
  background: $white;
  top: 46px;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #dddddd;
  border-radius: 5px;
  z-index: 100000;
  li{
    padding: 0.41rem 0.75rem;
    font: 15px $oswald;
    line-height: 1.53;
    min-width: 163px;
    transition: .3s ease all;
    &:hover{
      background: #efefef;
      transition: .3s ease all;
      a{
        text-decoration: none;
      }
    }
    a{
      color: #999;
    }

  }
}
