<header class="header">
    <div class="header-container">
        <div class="header-inner">
            <modal-block class="hidden-xs-down"></modal-block>
            <div class="main-menu">
                <nav class="navbar navbar-toggleable-md">
                    <a [href]="url" class="logo">
                        <img [src]="angularclassLogo" >
                    </a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        MENU&nbsp;
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    Groups
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/latest">
                                    Latest
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://wardragons.com/blog">
                                    News
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://shop.wardragons.com">
                                    Shop
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://pocketgems.helpshift.com" target="_blank">
                                    Help
                                </a>
                            </li>

                        </ul>
                        <form class="search-box" #searchForm="ngForm" id="searchForm">
                            <input type="search" placeholder="Search" class="form-control" (keyup)="searchTerm$.next($event.target.value)" [value]="inputValue" [(ngModel)]="inputValue" name="search">
                            <span class="search-icon"></span>
                            <ul *ngIf="results?.topics" class="search-results">
                                <li *ngFor="let result of results?.topics | slice:0:9">
                                    <a href="#" (click)="resetForm($event, result.title, result.id)">
                                        {{ result.title }}
                                    </a>
                                </li>
                            </ul>
                        </form>
                      <modal-block class="hidden-sm-up"></modal-block>
                    </div>
                </nav>
            </div>

        </div>
    </div>

</header>
