<footer>
    <div class="footer-top">
        <a href="http://wardragons.com">Wardragons.com</a>
        <a href="http://pocketgems.helpshift.com" target="_blank">Help</a>
    </div>
    <div class="footer-bottom">
        <span>Copyright © 2011–2017 Pocket Gems, Inc. All rights reserved.</span>
        <a href="https://pocketgems.com/privacy-policy/" target="_blank">Privacy Policy</a>
        <a href="http://pocketgems.com/terms-of-service/" target="_blank">Terms of Service</a>
    </div>
</footer>
