@import "../../styles/variables";
@import "../../styles/bootstrap-customize";

footer{
  padding: 20px 30px;
  background: #ededee;
  margin-top: 50px;
  font: 15px $oswald;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    background: url( #{$path-img}silhouette.png ) repeat-x;
    height: 163px;
    width: 100%;
    background-position: center top;
    left: 0;

  }
}
.footer-top{
  position: relative;
  z-index: 10;
  margin-bottom: 8px;
  a{
    color: $black;
    text-transform: uppercase;
    transition: .3s ease color;
    @include media-breakpoint-down(xs){
      display: block;
      margin-left: 0 !important;
    }
    &:hover{
      text-decoration: none;
      color: $darkRed;
      transition: .3s ease color;
    }
    & + a{
      margin-left: 30px;
    }
  }
}
.footer-bottom{
  position: relative;
  z-index: 10;
  letter-spacing: 0;
  margin-bottom: 17px;
  span{
    color: #7d7d7d;
    @include media-breakpoint-down(sm){
      display: block;
      margin-left: 0;
    }
  }
  a{
    color: $black;
    transition: .3s ease color;
    margin-left: 14px;
    @include media-breakpoint-down(sm){
      display: block;
      margin-left: 0;
    }
    &:hover{
      text-decoration: none;
      color: $darkRed;
      transition: .3s ease color;
    }
  }
}
