@import "../../styles/variables";
@import "../../styles/bootstrap-customize";

.page-wrapper{
  padding-top: 190px;
  overflow: hidden;
}
.category-ttl{
  margin-bottom: 36px;
}
.category-ttl-h1{
  font-family: $Royal;
  font-style: italic;
  color: $black;
  line-height: 0.64;
  font-size: 36px;
  margin-top: 20px;

  @include media-breakpoint-down(xs) {
    font-size: 20px;
  }
}
.category-ttl-img{
  display: inline-block;
  background-color: $darkRed;
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background-color: transparent !important;
    img{
      opacity: 1;
    }
  }
  @supports (-ms-accelerator:true) {
    background-color: transparent !important;
    img{
      opacity: 1;
    }
  }
  img{
    opacity: 0;
  }
}
.filter-block{

}
.filter-block-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.filter-block-item{
  float: left;
  font: 15px/1.53 $oswald;
  color: #777777;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 0;
  cursor: pointer;
  letter-spacing: 1.2px;
  position: relative;

  @include media-breakpoint-down(xs) {
    letter-spacing: 0;
    font-size: 13px;
  }

  &.active{
    color: $darkRed;

    &:before{
      height: 1px;
      width: 100%;
      position: absolute;
      content: '';
      bottom: -1px;
      left: 0;
      background: $darkRed;
      z-index: 1000;
    }
  }

  & + .filter-block-item{
    margin-left: 25px;

    @include media-breakpoint-down(xs) {
      margin-left: 13px;
    }
  }
}
.info-block{
  padding: 28px 32px;
  background: #ededee;
  color: $black;
  font: 16px/1.4 Helvetica;
  font-weight: 600;

  @include media-breakpoint-down(xs) {
    padding: 15px;
    font-size: 14px;
  }

  a{
    color: $darkRed;
  }
}
.topics-tbl{
  width: 100%;
  font: 16px/1.44 $helvetica;
  color: #a8a8a8;
  border-bottom: 1px solid #ccc;
  margin-bottom: 100px;

  @include media-breakpoint-down(xs) {
    font-size: 14px;
  }

  tr{
    &:hover{
      td{
        background: #F4F4F4;
      }
    }
  }
  td{
    padding: 20px 10px;
    border-top: 1px solid #ccc;

    @include media-breakpoint-down(xs) {
      width: 50%;
      padding-right: 0;
    }

    &.td-name {
      width: 40%;

      @include media-breakpoint-down(xs) {
        width: 50%;
      }
    }
  }
}
.topic-ttl {
  font-size: 18px;
  line-height: 1.28;
  color: #999;
  transition: .3s ease color;

  @include media-breakpoint-down(xs) {
    font-size: 14px;
  }

  &:hover {
    color: darken(#a8a8a8, 15%);
    transition: .3s ease color;
    text-decoration: none;
  }

  &.red {
    color: $darkRed;
  }
}
.poster-avatar-inner{
  display: block;
  img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
  }
}
.poster-name{
  display: inline-block;
  margin-right: 18px;
  color: #a8a8a8;

  &:hover {
    color: darken(#a8a8a8, 15%);
    transition: .3s ease color;
    text-decoration: none;
  }
}
.poster-date{
  display: inline-block;
  color: #b4b7bf;
}
.topic-views{
  display: inline-block;
  background: url(#{$path-img}eye.png) no-repeat right center;
  padding-right: 26px;
  color: $black;
}
.topic-likes{
  display: inline-block;
  background: url(#{$path-img}heart.png) no-repeat right center;
  padding-right: 26px;
  color: $black;
}
.topic-messages{
  display: inline-block;
  /*background: url(#{$path-img}chat.png) no-repeat right center;
  padding-right: 26px;*/
  color: $black;
  &.admin{
    background: url(#{$path-img}dragon-icon.png) no-repeat right center;
  }
}
.dragon-logo{
  display: inline-block;
}
.poster-last-avatar-inner{
  img{
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 16px;
    margin-top: 7px;
    border-radius: 50%;
  }
  div{
    white-space: nowrap;
    color: #b4b7bf;
  }
}
.poster-last{
  display: inline-block;
  color: $darkRed;
  padding-right: 25px;
  background: url(#{$path-img}go-to-topic.png) no-repeat right center;
  &:hover{
    color: $darkRed;
  }
}
.bg_red{
  background: #faf3f0;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .category-ttl-img{
    background-color: transparent !important;
    img{
      opacity: 1;
    }
  }

}
@supports (-ms-accelerator:true) {
  .category-ttl-img{
    background-color: transparent !important;
    img{
      opacity: 1;
    }
  }
}
