<div class="page-wrapper">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="category-ttl text-center">
            <h1 class="category-ttl-h1">Latest</h1>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="topics-tbl">
            <tr *ngFor="let topic of getDataCat?.topic_list.topics">
              <td [ngClass]="{'bg_red': topic.pinned }" class="td-name">
                <a [routerLink]="['/latest/', 'topic' , topic.title]" [queryParams]="{id: topic.id}" class="topic-ttl"
                   [ngClass]="{'red' : topic.unseen == true}">{{topic.title}}</a>
                <div class="poster-avatar" *ngFor="let user of getDataCat?.users">
                  <div class="poster-avatar-inner" *ngIf="user.id == topic.posters[0].user_id">
                    <img
                      [src]="user.avatar_template.replace('{size}', '20').replace('/user_avatar/' , 'https://discourse-cdn-sjc1.com/business2/user_avatar/')"
                      alt="" *ngIf="user.avatar_template.indexOf('letter') == -1">
                    <img src="assets/img/egg.png"
                         alt="" *ngIf="user.avatar_template.indexOf('letter') != -1">
                    <a [routerLink]="['/user/', user.username]" class="poster-name">
                      {{user.username}}
                      <div class="dragon-logo" *ngFor="let userItem of userList">
                        <img src="assets/img/dragon-admin.png"
                             *ngIf="topic.posters[0].user_id == userItem.id && userItem.admin == true" alt="admin">
                      </div>
                    </a>
                    <div class="poster-date">{{topic.created_at | timeAgo}} ago</div>
                  </div>
                </div>
              </td>
              <td [ngClass]="{'bg_red': topic.pinned }" class="hidden-sm-down">
                <div class="topic-views">
                  {{topic.views}}
                </div>
              </td>
              <td [ngClass]="{'bg_red': topic.pinned }" class="hidden-sm-down">
                <div class="topic-likes">
                  {{topic.like_count}}
                </div>
              </td>
              <td [ngClass]="{'bg_red': topic.pinned }" class="hidden-sm-down">
                <div class="topic-messages">
                  {{topic.posts_count}}
                  <div class="dragon-logo" *ngFor="let userItem of topic?.posters">
                     <div class="" *ngFor="let adminUser of userList">

                       <img src="assets/img/dragon-admin.png"
                            *ngIf="userItem.extras != null && userItem.extras.indexOf('latest') != -1 && userItem.user_id == adminUser.user.id && adminUser.user.admin == true" alt="admin">
                       <img src="assets/img/chat.png" *ngIf="userItem.extras != null && userItem.extras.indexOf('latest') != -1 && userItem.user_id == adminUser.user.id && adminUser.user.admin == false" alt="admin">
                     </div>


                  </div>

                </div>
              </td>
              <td [ngClass]="{'bg_red': topic.pinned }">
                <div class="" *ngIf="topic.posters[1]">
                  <div class="poster-avatar" *ngFor="let user of getDataCat?.users">
                    <div class="poster-last-avatar-inner" *ngIf="user.id == topic.posters[1].user_id">
                      <img
                        [src]="user.avatar_template.replace('{size}', '30').replace('/user_avatar/' , 'https://discourse-cdn-sjc1.com/business2/user_avatar/')"
                        alt="" *ngIf="user.avatar_template.indexOf('letter') == -1">

                      <img src="assets/img/egg.png"
                           alt="" *ngIf="user.avatar_template.indexOf('letter') != -1">
                      <a [routerLink]="['/user/', user.username]" class="poster-last">{{user.username}}</a>
                      <div>{{topic.created_at | timeAgo}} ago at {{topic.created_at | date:'M/dd/yy h:mm'}}</div>
                    </div>
                  </div>
                </div>

              </td>
              <td [ngClass]="{'bg_red': topic.pinned }" class="hidden-sm-down">
                <div class="lock" *ngIf="topic.closed === true">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>
