@import "../../styles/variables";

.breadcrumbs{
  font: 15px/1.53 $oswald;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 1440px;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  top: 110px;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  &.breadcrumbs-white{
    li{
      & + li{
        &:before{
          color: #abb2c3;
        }
      }
    }
  }
  .breadcrumb-list{
    overflow: hidden;
    margin: 0 20px;
    padding: 0;
    list-style: none !important;
    height: 42px;
    line-height: 42px;
  }
  li{
    float: left;
    width: auto;
    & + li{
      margin-left: 26px;
      position: relative;
      &:before{
        content: '';
        left: -17px;
        color: $white;
        background: url(#{$path-img}arrow-right.png);
        width: 7px;
        height: 12px;
        position: absolute;
        top: 14px;
      }
    }
  }
  a{
    color: rgba($black, 0.7);
    letter-spacing: 1.6px;
    &.breadcrumb-link-main{
      padding-left: 40px;
      position: relative;
      &:before{
        content: '';
        background: url( #{$path-img}dragon.png ) no-repeat;
        width: 28px;
        height: 27px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
