<div class="breadcrumbs" [ngClass]="{'breadcrumbs-white': bread != '[]' }">
    <ul class="breadcrumb-list">
        <li><a routerLink="" class="breadcrumb-link breadcrumb-link-main">Forums</a></li>
        <li *ngIf="breadcrumbs?.length == 0"><a routerLink="" class="breadcrumb-link">Home</a></li>
        <!--<li *ngFor="let breadcrumb of breadcrumbs">
            <a [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.params['id'] }} <span *ngIf="!breadcrumb.params['id']">{{ breadcrumb.label }}</span></a>
        </li>-->
        <li *ngIf="breadcrumbs?.length != 0">
          <a [routerLink]="[breadcrumbs[0].url, breadcrumbs[0].params]">{{ breadcrumbs[0].params['id'] }} <span *ngIf="!breadcrumbs[0].params['id']">{{ breadcrumbs[0].label }}</span></a>
        </li>
        <li *ngIf="breadcrumbs?.length > 1 && breadcrumbs?.length != 0 && breadcrumbs[0].label != breadcrumbs[1].label">
          <a [routerLink]="[breadcrumbs[1].url, breadcrumbs[1].params]">{{ breadcrumbs[1].params['id'] }} <span *ngIf="!breadcrumbs[1].params['id']">{{ breadcrumbs[1].label }}</span></a>
        </li>
    </ul>
</div>

