<div class="page-wrapper">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="category-ttl text-center">
            <div class="" *ngIf="infoImg">
              <div class="category-ttl-img"
                   [ngStyle]="{ '-webkit-mask-image': 'url(http://dogwelder.pocketgems.com' + infoImg + ')', 'mask-image:' : 'url(http://dogwelder.pocketgems.com' + infoImg + ')'} ">
                <img [src]="'http://dogwelder.pocketgems.com' + infoImg">

              </div>
            </div>


            <h1 class="category-ttl-h1">{{infoName}}</h1>
          </div>

        </div>

      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="info-block">
            If this is your first visit, be sure to check out the <a href="#">FAQ</a> by clicking the
            link above. You may have to <a href="#">register</a> before you can post: click the register link above to
            proceed. To start viewing messages, select the forum that you want to visit from the selection
            below.
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="filter-block">
            <ul class="filter-block-list">
              <li class="filter-block-item" *ngFor="let filter of filters; let i = index"
                  [ngClass]="{'active': selectedItem == filter, 'hidden': userData.api_username == 'anonymous' && filter.active === false }"
                  (click)="onClickLatest($event, filter.bookmarked, filter.filterTitle, filter.filterTitle2, filter)">
                {{filter.title}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 table-wrapper">
          <div class="info-block text-center"
               *ngIf="topicNumber != newTopicNumber">
            {{newTopicNumber - topicNumber}} new <span
            *ngIf="newTopicNumber - topicNumber == 1">topic</span><span
            *ngIf="newTopicNumber - topicNumber != 1">topics</span>. <a
            href="javascript:void(0);" (click)="refreshList(infoId, userData.api_username)">Click to show</a>
          </div>
          <table class="topics-tbl">
            <tr
              *ngFor="let topic of topicList | orderBy: [filterTitle, filterTitle2] | myfilter:filterargs">
              <td [ngClass]="{'bg_red': topic.pinned }" class="td-name">
                <a [routerLink]="['/category/', infoName, 'topic' , topic.title]" [queryParams]="{id: topic.id}"
                   class="topic-ttl" [ngClass]="{'red' : topic.unseen == true || topic.views == 0}">{{topic.title}}</a>
                <div class="poster-avatar" *ngFor="let user of getDataCat?.users">
                  <div class="poster-avatar-inner" *ngIf="user.id == topic.posters[0].user_id">
                    <img
                      [src]="user.avatar_template.replace('{size}', '20').replace('/user_avatar/' , 'https://discourse-cdn-sjc1.com/business2/user_avatar/')"
                      alt="" *ngIf="user.avatar_template.indexOf('letter') == -1">
                    <img src="assets/img/egg.png"
                         alt="" *ngIf="user.avatar_template.indexOf('letter') != -1">
                    <a [routerLink]="['/user/', user.username]" class="poster-name">
                      {{user.username}}
                      <div class="dragon-logo" *ngFor="let userItem of userList">
                        <img src="assets/img/dragon-admin.png"
                             *ngIf="topic.posters[0].user_id == userItem.user.id && userItem.user.admin == true" alt="admin">
                      </div>
                    </a>
                    <div class="poster-date">{{topic.created_at | timeAgo}} ago</div>
                  </div>
                </div>
              </td>
              <td [ngClass]="{'bg_red': topic.pinned }" class="hidden-sm-down">
                <div class="topic-views">
                  {{topic.views}}
                </div>
              </td>
              <td [ngClass]="{'bg_red': topic.pinned }" class="hidden-sm-down">
                <div class="topic-likes">
                  {{topic.like_count}}
                </div>
              </td>
              <td [ngClass]="{'bg_red': topic.pinned }" class="hidden-sm-down">
                <div class="topic-messages">
                  {{topic.posts_count}}
                  <div class="dragon-logo" *ngFor="let userItem of topic?.posters">
                    <!--<div class="" *ngFor="let adminUser of userList">

                      <img src="assets/img/dragon-admin.png"
                           *ngIf="userItem.extras != null && userItem.extras.indexOf('latest') != -1 && userItem.user_id == adminUser.user.id && adminUser.user.admin == true"
                           alt="admin">
                      <img src="assets/img/chat.png"
                           *ngIf="userItem.extras != null && userItem.extras.indexOf('latest') != -1 && userItem.user_id == adminUser.user.id && adminUser.user.admin == false"
                           alt="admin">
                    </div>-->


                    <div class="" *ngFor="let adminUser of userList">

                      <img src="assets/img/dragon-admin.png"
                           *ngIf="imageVerif(userItem, adminUser) == true"
                           alt="admin">
                      <img src="assets/img/chat.png"
                           *ngIf="imageVerif(userItem, adminUser) == false"
                           alt="admin">
                    </div>


                  </div>
                </div>
              </td>
              <td [ngClass]="{'bg_red': topic.pinned }">
                <div class="" *ngIf="topic.posters[1]">
                  <div class="poster-avatar" *ngFor="let user of getDataCat?.users">
                    <div class="poster-last-avatar-inner" *ngIf="user.id == topic.posters[1].user_id">
                      <img
                        [src]="user.avatar_template.replace('{size}', '30').replace('/user_avatar/' , 'https://discourse-cdn-sjc1.com/business2/user_avatar/')"
                        alt="" *ngIf="user.avatar_template.indexOf('letter') == -1">

                      <img src="assets/img/egg.png"
                           alt="" *ngIf="user.avatar_template.indexOf('letter') != -1">
                      <a [routerLink]="['/user/', user.username]" class="poster-last">{{user.username}}</a>
                      <div>{{topic.created_at | timeAgo}} ago at {{topic.created_at | date:'M/dd/yy h:mm'}}</div>
                    </div>
                  </div>
                </div>

              </td>
              <td [ngClass]="{'bg_red': topic.pinned }" class="hidden-sm-down">
                <div class="lock" *ngIf="topic.closed === true">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
              </td>
            </tr>

          </table>

          <div *ngIf="loadingInProgress == true && pages > 1">
            <div class="text-center">
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>
