

.message-text{
  font: 16px/1.38 $helvetica;
  color: $black;
  & > *:first-child{
    margin-top: 0;
  }
  .quote{
    margin-bottom: 1em;
    blockquote{
      margin-top: 0;
    }
  }
  .title {
    border-left: 5px solid #e9e9e9;
    background-color: #f9f9f9;
    color: #646464;
    padding: 12px 12px 1px 12px;
    .avatar {
      margin-right: 7px;
    }
    img {
      margin-top: -4px;
      border-radius: 50%;
    }
  }
  .quote-controls {
    float: right;
    color: #bdbdbd;
  }
  blockquote {
    border-left: 5px solid #e9e9e9;
    background-color: #f9f9f9;
    clear: both;
    margin-left: 0;
    margin-right: 0;
    padding: 12px;
  }
}
.form-wrapper{
  aside {
    margin-top: 1em;
    margin-bottom: 1em;
    &:first-child{
      margin-top: 0;
    }
    blockquote {
      margin-top: 0;
    }

  }
  .title {
    border-left: 5px solid #e9e9e9;
    background-color: #f9f9f9;
    color: #646464;
    padding: 12px 12px 1px 12px;
    .avatar {
      margin-right: 7px;
      margin-top: -4px;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
  blockquote {
    border-left: 5px solid #e9e9e9;
    background-color: #f9f9f9;
    clear: both;
    margin-left: 0;
    margin-right: 0;
    padding: 12px;

  }

}
