

//Path

$path-fonts: '../fonts/';
$path-img: '../../assets/img/';

//Fonts
$arial: Arial, sans-serif;
$Royal: '1790 Royal Printing';
$oswald:  'Oswald', sans-serif;
$helvetica : 'Helvetica';

//Colors
$black: #000;
$white: #fff;
$darkGrey: #454545;
$darkRed: #9d1e23;

//Default settings
$default-font: $oswald;
$default-font-size: 16px;
$default-line-height: 1.38;
$default-font-weight: 400;
$default-font-style: normal;
$default-text-color: $black;
$text-color-inverse: $white;

$body-bg: $white;



