<div class="page-wrapper">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="topic-ttl">
            {{getDataTopic?.title}}
          </div>
          <div class="topic-category">
            <div class="topic-category-img"  *ngIf="topicCategory?.uploaded_logo != null">
              <img [src]="user?.host + topicCategory?.uploaded_logo.url" alt="">
            </div>
            <a href="#" [routerLink]="'/category/' + topicCategory?.name">{{topicCategory?.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="!error?.hasOwnProperty('_body')">
      <div class="row">
        <div class="col-lg-9">
          <div class="topic-list scrollable window" id="topic-list">

            <div *ngFor="let topic of getDataTopicPosts?.post_stream.posts" class="topic-list-item" [id]="'w'+topic.post_number">

              <div class="message-img" [id]="'post' + topic.id">
                <img
                  [src]="topic.avatar_template.replace('{size}', '60').replace('/user_avatar/' , 'https://discourse-cdn-sjc1.com/business2/user_avatar/')"
                  alt="avatar">
              </div>

              <div class="message-menu">
                <div class="message-date">{{topic.created_at | timeAgo }}</div>
                <div class="message-edit-wrap">
                  <div class="dropdown">
                    <a class="dropdown-toggle drop-arr" href="#" [id]="'dropdownMenuLink' + topic.post_number"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </a>

                    <div class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuLink' + topic.post_number">
                      <a class="dropdown-item" href="javascript:void(0);" *ngIf="topic.can_edit === true && testName != null" (click)=" onEdit($event, topic.id, topic.cooked )"><i class="fa fa-pencil"
                                                                                           aria-hidden="true"></i> Edit</a>
                      <a class="dropdown-item" href="#" (click)="open(linkPost); onShare($event, topic.id)"><i class="fa fa-link" aria-hidden="true"></i> Link</a>
                      <a class="dropdown-item" href="#" (click)="open(flagPost); onFlag($event, topic.id)" *ngIf="testName != null"><i class="fa fa-flag" aria-hidden="true"></i> Flag</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="message-descr">
                <div class="message-ttl">
                  {{topic.username}}
                  <span *ngIf="topic.admin === true">Admin</span>
                </div>
                <div class="message-text" [innerHTML]="topic.cooked"
                     (mouseup)="onHighlight($event, topic.cooked ,topic.id )">
                </div>

              </div>
              <div class="message-footer" *ngIf="testName != null">

                                    <button [disabled]="textHighlight?.length < 10" (click)="onQuote($event, textHighlight , topic.username, topic.id, topic.topic_id, topic.avatar_template); onReply($event)" class="message-quotes"><img
                                      src="../../assets/img/quotes.png" alt="quotes"></button>
                <a href="#" class="message-likes" *ngIf="!topic.yours && !topic.actions_summary['0'].acted"
                   (click)="onLike($event, topic.id, topic.actions_summary['0'].id)">{{topic.actions_summary["0"].count}}
                  <i class="fa fa-heart-o" aria-hidden="true"></i></a>
                <a href="#" class="message-likes" *ngIf="!topic.yours && topic.actions_summary['0'].acted"
                   (click)="onUnLike($event, topic.id, topic.actions_summary['0'].id)">{{topic.actions_summary["0"].count}}
                  <i class="fa fa-heart" aria-hidden="true"></i></a>
                <a href="#" class="reply" (click)="onReply($event)">Reply <i class="fa fa-reply" aria-hidden="true"></i></a>
              </div>

              <div class="message-footer" *ngIf="testName == null">
                <a href="javascript:void(0)" class="message-quotes" (click)="open(loginModal);">
                  <img src="../../assets/img/quotes.png" alt="quotes">
                </a>
                <a href="javascript:void(0)" class="message-likes" (click)="open(loginModal);">
                  {{topic.actions_summary["0"].count}}
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0)" class="reply" (click)="open(loginModal);">
                  Reply <i class="fa fa-reply" aria-hidden="true"></i>
                </a>
              </div>
              <div class="flag-undo-block">
                <div class="" *ngFor="let undoItem of topic.actions_summary">
                  <a href="#" *ngIf="undoItem.id != 2 && undoItem['acted'] === true && undoItem.id != 7" class="undo-flag-link" (click)="onUnLike($event, topic.id, undoItem.id)">Undo flag "<span *ngFor="let item of Flag"><span *ngIf="item.id == undoItem.id">{{item.title}}</span></span>"</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 scroller-wrap">
          <!--<topic-scroller [topic]='coordsBlock'></topic-scroller>-->

          <div class="scroller hidden-xs-down hidden-md-down" *ngIf="maxValue > 1">
            <div class="top-date">
              {{ getDataTopic?.created_at | date:'MMM dd'}}
            </div>
            <div class="descr-slider-block-wrap">
              <div class="descr-slider-block" [style.top]="top + '%'">
                {{SelectValue}} / {{maxValue}}<br>
                <span *ngFor="let topic of getDataTopicPosts?.post_stream.posts; let i = index">
                  <span *ngIf="SelectValue == (i + 1)">{{topic.created_at | date:'MMM dd'}}</span>
                </span>
              </div>
            </div>

            <nouislider [connect]="true" style="z-index: 1000;" [config]="sliderConfig" [min]="1" [max]="maxValue" [step]="1" [(ngModel)]="SelectValue" (ngModelChange)="scrollTo('#w' + SelectValue)" ></nouislider>
            <div class="last-date">
              {{ getDataTopic?.last_posted_at | timeAgo}} ago
            </div>
          </div>

          <div class="scroller-mobile hidden-lg-up" (click)="onScrollMobile(true)">
            <div class="scroller-mobile-bg" [ngStyle]="{'width': top + '%'}"></div>
            <span class="scroller-mobile-info">{{SelectValue}} / {{maxValue}}</span>
          </div>

        </div>
      </div>
    </div>

    <div class="container" *ngIf="error?.hasOwnProperty('_body')">
      <div class="row text-center">
        <h2 class="error-ttl" [innerHTML]="error._body"></h2>
      </div>
    </div>

    <div class="scroll-mobile-wrap hidden-lg-up" [ngClass]="(showScroll === true) ? 'active' : '' " (click)="onScrollMobile(false)" *ngIf="maxValue > 1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-9">
            <div class="current-message">
              <span class="author">
                {{getDataTopicPosts?.post_stream.posts[SelectValue -1].username}}:
              </span>
              <span class="message" [innerHTML]="getDataTopicPosts?.post_stream.posts[SelectValue -1].cooked.slice(0, 150)"></span>
            </div>
          </div>
          <div class="col-3 scroll-mobile-inner">
            <div class="top-date">
              {{ getDataTopic?.created_at | date:'MMM dd'}}
            </div>
            <div class="descr-slider-block-wrap">
              <div class="descr-slider-block" [style.top]="top + '%'">
                {{SelectValue}} / {{maxValue}}<br>
                <span *ngFor="let topic of getDataTopicPosts?.post_stream.posts; let i = index">
                  <span *ngIf="SelectValue == (i + 1)">{{topic.created_at | date:'MMM dd'}}</span>
                </span>
              </div>
            </div>

            <nouislider [connect]="true" style="z-index: 1000;" [config]="sliderConfig" [min]="1" [max]="maxValue" [step]="1" [(ngModel)]="SelectValue" (ngModelChange)="scrollTo('#w' + SelectValue)" (click)="onScrollMobile(false)"></nouislider>
            <div class="last-date">
              {{ getDataTopic?.last_posted_at | timeAgo}} ago
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Post Reply-->

    <div class="container-fluid form-container" [ngClass]="(showForm === true) ? 'active' : '' ">
      <div class="row form-wrapper">
        <div class="col-sm-12">
          <a href="#" (click)="closeForm($event)" class="close-form"><i class="fa fa-times"></i></a>
        </div>
        <div class="col-sm-12">
          <form method="post" (ngSubmit)="onSubmit($event); createPostForm.reset(); closeForm($event)" #createPostForm="ngForm" id="createPostForm">
            <div class="form-group">
              <!--<textarea type="text" [(ngModel)]="message.raw" name="raw"
                        class="form-control message-window" required ></textarea>-->
              <div class="row max300">
                <div  [ngClass]="!previewVisible ? 'col-sm-12' : 'col-sm-6'">
                  <app-tinymce [(ngModel)]="message.raw" name="raw"></app-tinymce>
                </div>
                <div class="col-6 hidden-xs-down" *ngIf="previewVisible">
                  <div class="post-preview"
                       [innerHTML]="message.raw"></div>
                </div>
              </div>


            </div>
            <div class="form-group">
              <div class="float-right hidden-xs-down">
                <a href="#" *ngIf="previewVisible" (click)="previewVisibleOn($event)">Hide Preview</a>
                <a href="#" *ngIf="!previewVisible" (click)="previewVisibleOn($event)">Show Preview</a>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="message.raw?.length < 10">Reply</button>
              <button type="reset" class="btn btn-secondary" (click)="createPostForm.reset(); closeForm($event)">Cancel</button>
            </div>

          </form>
        </div>


      </div>
    </div>

    <!--/Post Reply-->

    <!--Form Edit-->

    <div class="container-fluid form-container" [ngClass]="(editForm === true) ? 'active' : '' ">
      <div class="row form-wrapper">
        <div class="col-sm-12">
          <a href="#" (click)="closeForm($event)" class="close-form"><i class="fa fa-times"></i></a>
        </div>
        <div class="col-sm-12">
          <form method="post" (ngSubmit)="onEditSubmit($event); editPostForm.reset(); closeForm($event)" #editPostForm="ngForm" id="editPostForm">

            <div class="form-group">
              <!--<textarea type="text" [(ngModel)]="message.raw" name="raw"
                        class="form-control message-window" required ></textarea>-->
              <div class="row max300">
                <div  [ngClass]="!previewVisible ? 'col-sm-12' : 'col-sm-6'">
                  <app-tinymce [(ngModel)]="editFormRaw" name="raw"></app-tinymce>
                </div>
                <div class="col-6 hidden-xs-down" *ngIf="previewVisible">
                  <div class="post-preview"
                       [innerHTML]="editFormRaw"></div>
                </div>
              </div>


            </div>
            <div class="form-group">
              <div class="float-right hidden-xs-down">
                <a href="#" *ngIf="previewVisible" (click)="previewVisibleOn($event)">Hide Preview</a>
                <a href="#" *ngIf="!previewVisible" (click)="previewVisibleOn($event)">Show Preview</a>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="editFormRaw?.length < 10">Update</button>
              <button type="reset" class="btn btn-secondary" (click)="editPostForm.reset(); closeForm($event)">Cancel</button>
            </div>

          </form>
        </div>

      </div>
    </div>

    <!--/Form Edit-->

  </div>

</div>


<!--Flag modal-->

<ng-template #flagPost let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Thanks for helping to keep our community civil!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onFlagSend($event); editForm.reset(); c('Close click')" #editForm="ngForm" id="editForm">
      <div class="form-group">
        <label class="radio">
          <input type="radio" class="" name="flag" [(ngModel)]="actionSummaryId" [value]="3">
          <strong>It's Off-Topic</strong>
          <div class="description">This post is not relevant to the current discussion as defined by the title and first post, and should probably be moved elsewhere.</div>
        </label>
      </div>
      <div class="form-group">
        <label class="radio">
          <input type="radio" class="" name="flag" [(ngModel)]="actionSummaryId" [value]="4">
          <strong>It's Inappropriate</strong>
          <div class="description">This post contains content that a reasonable person would consider offensive, abusive, or a violation of <a href="#">our community guidelines</a>.</div>
        </label>
      </div>
      <div class="form-group">
        <label class="radio">
          <input type="radio" class="" name="flag" [(ngModel)]="actionSummaryId" [value]="8">
          <strong>It's Spam</strong>
          <div class="description">This post is an advertisement, or vandalism. It is not useful or relevant to the current topic.</div>
        </label>
      </div>
      <div class="form-group">
        <label class="radio">
          <input type="radio" class="" name="flag" [(ngModel)]="actionSummaryId" [value]="7">
          <strong>Something Else</strong>
        </label>
        <textarea name="" id="" cols="30" rows="10" *ngIf="actionSummaryId == 7" class="form-control"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" form="editForm">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<!--/Flag modal-->

<!--Link modal-->

<ng-template #linkPost let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" >
      <span aria-hidden="true">&times;</span>
    </button>
    <form>
      <div class="form-group">
        <input type="text" [value]="postLink" [(ngModel)]="postLink" name="post-link" class="form-control">
      </div>
      <div class="form-group">
        <button ceiboShare [facebook]="{ u: postLink }" class="form-share-link"><i class="fa fa-facebook-square"></i></button>
        <button ceiboShare [twitter]="{ url: postLink, text: 'Read my post', hashtags: 'war_dragons' }"  class="form-share-link"><i class="fa fa-twitter-square"></i></button>
      </div>
    </form>
  </div>

</ng-template>


<!--/Link modal-->

<!--Login Modal-->

<ng-template #loginModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" >
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-ttl">If you want like or reply post please Login or Sign Up</h3>
    <div class="">
      <a href="" class="btn btn-primary" (click)="LoginInContent($event)">Sign Up</a>
      <a href="" class="btn btn-primary" (click)="LoginInContent($event)">Login</a>
    </div>
  </div>

</ng-template>

