@import "../../styles/variables";
@import "../../styles/bootstrap-customize";

.page-wrapper{
  padding-top: 190px;
  padding-bottom: 200px;
  overflow: hidden;
}
.topic-ttl{
  font: 36px/1 $oswald;
  color: $darkRed;
  font-weight: 300;
  margin-bottom: 15px;
  margin-right: 30%;

  @include media-breakpoint-down(xs) {
    font-size: 24px;
  }
}
.topic-category{
  font: 15px/1.53 $oswald;
  color: $darkGrey;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-bottom: 45px;
  margin-top: 15px;

  .topic-category-img{
    display: inline-block;
    height: 24px;
    width: auto;
    vertical-align: middle;

    img{
      height: 100%;
      width: auto;
    }
  }

  a {
    color: $darkGrey;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}

.topic-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.topic-list-item{
  display: block;
}

.message-img{
  padding-top: 11px;
  width: 60px;
  border-top: 1px solid #e9e9e9;
  float: left;

  @include media-breakpoint-down(xs) {
    width: 30px;
  }

  img{
    width: 60px;
    height: 60px;
    border-radius: 50%;

    @include media-breakpoint-down(xs) {
      width: 30px;
      height: 30px;
    }
  }
}
.message-descr{
  margin-left: 60px;
  margin-right: 50px;
  z-index: 2;
  border-top: 1px solid #e9e9e9;
  padding: 30px 20px;
  min-height: 130px;

  @include media-breakpoint-down(xs) {
    margin-left: 30px;
    padding: 15px;
    margin-right: 30px;
  }
}
.message-ttl{
  font: 16px/1.44 $helvetica;
  color: #666;
  margin-bottom: 20px;
  span{
    background: $darkRed;
    color: $white;
    font: 10px/17px $oswald;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2px 5px;
    margin-left: 10px;
  }
}
.message-date{
  font: 16px/1.44 $helvetica;
  color: #999;
  margin-bottom: 15px;
}
.message-menu{
  padding-top: 30px;
  border-top: 1px solid #e9e9e9;
  text-align: right;
  width: 50px;
  float: right;

  @include media-breakpoint-down(xs) {
    padding-top: 15px;
    width: 30px;
  }
}

.message-text {

  @include media-breakpoint-down(xs) {
    font-size: 13px;
  }
}

.message-edit-wrap{
  position: relative;

  .dropdown-menu {
    left: -150px;
    top: -10px;
    padding: 16px 18px 10px;
    background: #ededee;
    border: none;
    border-radius: 1px;
    font-weight: bold;
  }

  .dropdown-item {
    color: $darkRed;
    padding: 0;
    font: 16px/45px $helvetica;
    width: 180px;

    & + .dropdown-item {
      border-top: 1px solid #b7b7b8;
    }

    &:hover {
      background: transparent;
      color: $black;
      transition: .3s ease color;
    }
  }
}
.message-footer{
  text-align: right;
  padding: 0 0 10px;
}
.drop-arr {
  position: relative;

  &:after {
    content: '\f078';
    color: #979797;
    font-family: FontAwesome;
    width: 30px;
    height: 30px;
    border: none;
    font-size: 14px;
  }
  .show &{
    z-index: 1001;

    &:after{
      color: $darkRed;
    }
  }
}

.quote{
  display: none;
  position: absolute;
  border: 4px solid rgba($darkGrey, .2);
  font: 18px/1.44 $oswald;
  padding: 0 10px;
  &:hover, &:focus{
    text-decoration: none;
  }
  &.quote-wrapper{
    display: block;
    z-index: 1000;
    background: rgba($darkGrey, .7);
    color: $white;
  }
}
.form-wrapper {
  padding: 0 0 15px;
  background: #e9e9e9;
}
.post-preview {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: auto;
  padding: 7px;
  margin: 0;
  background-color: #fff;
  word-wrap: break-word;
  border: 1px dashed #e9e9e9;
  overflow: auto;
  visibility: visible;
  cursor: default;
  max-height: 300px;
}
.message-window {
  min-height: 200px;
}
.reply {
  font: 16px/1.44 $helvetica;
  color: $darkRed;
  display: inline-block;
  margin-left: 40px;
  position: relative;

  &:hover,
  &:focus {
    color: $darkGrey;
    text-decoration: none;
  }

  &:before {
    content: '';
    position: absolute;
    left: -20px;
    top: -3px;
    width: 1px;
    height: 30px;
    background-color: #e5e5e5;
  }

  i{
    margin-left: 10px;
  }
}
.message-likes{
  font: 16px/1.44 $helvetica;
  color: $darkRed;
  display: inline-block;
  margin-left: 10px;

  &:hover,
  &:focus {
    color: $darkGrey;
    text-decoration: none;
  }
}

.message-quotes {
  font: 16px/1.44 $helvetica;
  color: $darkRed;
  background: none;
  border: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  img {
    margin-left: 5px;
  }
}


.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


.form-container {
  position: fixed;
  bottom: -500px;
  width: 100%;
  z-index: 100;
  transition: .5s ease all;

  &.active {
    bottom: 0;
    transition: .5s ease all;
  }
}

.close-form {
  float: right;
  font-size: 20px;
  color: $darkRed;

  &:hover,
  &:focus {
    color: $darkRed;
    text-decoration: none;
  }
}

.flag-undo-block {
  text-align: right;
  margin-bottom: 20px;
}

.undo-flag-link {
  color: $darkRed;
  font: 14px/1 $helvetica;

  &:hover,
  &:focus {
    color: $darkRed;
  }
}

.form-share-link {
  color: $darkRed;
  font-size: 30px;
  margin-right: 10px;
  border: none;
  line-height: 1;
  background: none;

  &:hover,
  &:focus {
    color: $darkGrey;
    text-decoration: none;
  }
}

.error-ttl {
  font: 36px/1 $oswald;
  font-weight: 300;
  display: block;
  width: 100%;
  text-align: center;
  color: $darkRed;
}

.test div {
  height: 400px;
  background: gray;
}

.descr-slider-block {
  position: absolute;
  left: 14px;
  transition: .3s all;
  margin-top: -20px;
  height: 50px;
  padding-top: 3px;

  span {
    font: 14px $helvetica;
    color: #999999;
    line-height: 1.44;
  }
}

.descr-slider-block-wrap {
  position: absolute;
  width: 100px;
  height: 260px;
  top: 20px;
  left: 0;
  margin: 20px 0;
  font: 14px $helvetica;
  font-weight: bold;
  line-height: 1.44;
}

.scroller {
  position: absolute;
  top: -90px;
  margin-left: 30px;
  min-width: 200px;
  z-index: 100;
}

.top-date, .last-date {
  font: 14px $helvetica;
  color: #999999;
  line-height: 1.44;
}
.top-date {
  padding-bottom: 10px;
}

.last-date {
  padding-top: 10px;
}

.modal-ttl {
  font: 25px/1 $oswald;
  color: $darkRed;
  margin-bottom: 15px;
  font-weight: 300;
}

.scroller-mobile {
  position: fixed;
  bottom: 0;
  right: 40px;
  border: 1px solid $darkRed;
  color: $darkRed;
  width: 140px;
  text-align: center;
  background: $white;
  z-index: 1000;
  font: 18px $oswald;
  line-height: 35px;
}

.scroller-mobile-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #ffc5c5;
  transition: .5s all linear;
}

.scroller-mobile-info {
  position: relative;
  z-index: 100;
}

.scroll-mobile-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: -440px;
  height: 400px;
  background: $white;
  box-shadow: -1px -1px 13px -2px rgba(0,0,0,0.64);
  z-index: 2000;
  transition: .3s bottom ease;

  &.active {
    bottom: 0;
    transition: .3s bottom ease;
  }
}

.current-message {
  padding: 20px;
}

.author {
  font-weight: bold;
}

.scroll-mobile-inner {
  padding: 20px;

  .descr-slider-block {
    margin-top: 0;
    left: 35px;
  }
}


/*
.max300 {
  height: 300px;
  overflow: hidden;
}
*/
