<div class="login-wrap float-right hidden-xs-down">
  <div class="dropdown">
    <a class="dropdown-toggle login-link" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false" *ngIf="!userDataModal?.hasOwnProperty('current_user')">
      <span class="hidden-xs-down">Login or sign up</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="javascript:void(0);" (click)="LoginInHeader()">Login</a>
      <a class="dropdown-item" href="javascript:void(0);" (click)="LoginInHeader()">Sign Up</a>
      <a class="dropdown-item" href="http://dogwelder.pocketgems.com/faq">FAQ</a>
    </div>
    <div *ngIf="userDataModal?.hasOwnProperty('current_user')" class="user-wrap">
      <a class="add-new-post" href="javascript:void(0);" (click)="open(content)">
        <i class="fa fa-plus red"></i> <span class="hidden-xs-down">New post</span>
      </a>
      <a href="#" class="user" id="dropdownMenuUser" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <img [src]="userDataModal['current_user']['avatar_template']?.replace('{size}', '32').replace('/user_avatar/' , 'https://discourse-cdn-sjc1.com/business2/user_avatar/')" [alt]="userDataModal.current_user.username" class="header-user-avatar">
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuUser">
        <!--<a class="dropdown-item" href="http://dogwelder.pocketgems.com/admin" *ngIf="admin in userDataModal?.current_user">Admin</a>-->
        <!--<a class="dropdown-item" [href]="'http://dogwelder.pocketgems.com/u/' + userDataModal.current_user.username + '/activity'">Activity</a>-->
        <a class="dropdown-item" href="http://dogwelder.pocketgems.com/faq">FAQ</a>
        <a class="dropdown-item" href="#" (click)="logOut(userDataModal?.current_user.id, userDataModal.current_user.username)">Log Out</a>
      </div>
    </div>


  </div>
</div>

<ul class="navbar-nav ml-auto hidden-sm-up">
  <li class="nav-item">
    <img *ngIf="userDataModal?.hasOwnProperty('current_user')" [src]="userDataModal['current_user']['avatar_template']?.replace('{size}', '32').replace('/user_avatar/' , 'https://discourse-cdn-sjc1.com/business2/user_avatar/')" [alt]="userDataModal.current_user.username" class="header-user-avatar nav-img">
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="userDataModal?.hasOwnProperty('current_user')" href="javascript:void(0);" (click)="open(content)">
      <i class="fa fa-plus red"></i>New post
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" *ngIf="!userDataModal" href="javascript:void(0);" (click)="LoginInHeader()">
      Login
    </a>

    <a class="nav-link" href="#" *ngIf="userDataModal?.hasOwnProperty('current_user')" (click)="logOut(userDataModal?.current_user.id)">
      Log Out
    </a>
  </li>
</ul>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add New Post</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit($event, userDataModal.current_user.username, newTopicMessage.category['name'] ,newTopicMessage.title); createTopicForm.reset(); c('Close click')" #createTopicForm="ngForm" id="createTopicForm">
      <div class="form-group">
        <label for="topic-ttl">Post title</label>
        <input type="text" class="form-control" id="topic-ttl"  placeholder="Type title, or paste a link here" name="title" required [(ngModel)]="newTopicMessage.title">
        <small class="form-text text-muted">Title must be at least 15 characters</small>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select name="category" id="category" class="form-control" [(ngModel)]="newTopicMessage.category">
          <option [ngValue]="cat" *ngFor="let cat of getData">{{cat.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="row">Post message</label>
        <!--<textarea class="form-control" id="row"  placeholder="Type here" name="raw" required [(ngModel)]="newTopicMessage.raw"></textarea>-->
        <app-tinymce [(ngModel)]="newTopicMessage.raw" name="raw" id="row" required></app-tinymce>
        <small class="form-text text-muted">Text must be at least 20 characters</small>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" form="createTopicForm" [disabled]="newTopicMessage.title?.length < 16 || newTopicMessage.raw?.length < 21">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


