@import "../../styles/variables";
@import "../../styles/bootstrap-customize";

.login-wrap{
  display: inline-block;
  background: rgba($black, .1);
  .login-link{
    font: 15px/1.53 $oswald;
    letter-spacing: 1.6px;
    color: $white;
    text-transform: uppercase;
    padding: 34px;
    display: block;
    text-decoration: none !important;
    &:after{
      content: '';
      background: url(#{$path-img}arrow.png);
      border: none;
      color: #979797;
      width: 12px;
      height: 7px;
      margin-top: -4px;
    }
  }
}
.header-user-avatar{
  border-radius: 50%;
  width: 32px;
  height: 32px;
  overflow: hidden;
  vertical-align: middle;
}
.user-wrap{
  line-height: 32px;
  padding: 28px 18px;
}
.add-new-post{
  font: 15px/32px $oswald;
  letter-spacing: 1.6px;
  color: $white;
  text-transform: uppercase;
  margin-right: 10px;
  transition: .3s ease all;
  i{
    &.red{
      color: $darkRed;
    }
  }
  &:hover, &:focus{
    text-decoration: none;
    color: $darkRed;
    transition: .3s ease all;
  }
}
.user{
  img{
    margin-right: 6px;
  }
  &:after {
    content: "\F078";
    font-family: FontAwesome;
    border: none;
    color: #979797;
    width: auto;
    height: auto;
    margin-top: -4px;
  }
  &:hover, &:focus{
    text-decoration: none;
  }
}
.dropdown-menu{
  top: 87px;
  background: #454545;
  min-width: 100%;
  border-radius: 0;

  a{
    color: $white;
    font: 15px/2 $oswald;
    letter-spacing: 1.6px;
    text-transform: uppercase;

    &:hover {
      background-color: $darkRed;
    }
  }
}
.navbar-collapse {
  padding-bottom: 15px;
  position: absolute;
  top: 87px;
  background: #454545;
  width: 100%;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.nav-link {
  color: $white;
  font: 15px "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin-right: 38px;
  line-height: 30px;
  display: inline-block;
  position: relative;
  padding: 0;
  padding-bottom: 15px;

  @include media-breakpoint-down(md){
    margin-right: 0;
  }

  &:hover {
    text-decoration: none;
    color: $white;
  }
}

.nav-img {
  margin: 20px 0;
}
