
<div class="page-wrapper">
  <div class="container">
    <div class="user-info">
      <div class="avatar">
        <img [src]="userGetData?.user.avatar_template.replace('{size}', '120').replace('/user_avatar/' , 'https://discourse-cdn-sjc1.com/business2/user_avatar/')" alt="">
      </div>
      <h1 class="user-name">{{userGetData?.user.name}}</h1>
      <div class="user-nick">{{userGetData?.user.username}}</div>
    </div>
    <div class="main-info">
      <div class="main-info-i">
        Joined: <span>{{userGetData?.user.created_at | date:'MMM yy'}}</span>
      </div>
      <div class="main-info-i">
        Last Post: <span>{{userGetData?.user.last_posted_at | timeAgo }} ago</span>
      </div>
      <div class="main-info-i">
        Last Seen: <span>{{userGetData?.user.last_seen_at | timeAgo }} ago</span>
      </div>
      <div class="main-info-i">
        Views: <span>{{userGetData?.user.profile_view_count }}</span>
      </div>
      <div class="main-info-i" *ngIf="userGetData?.user.hasOwnProperty('email')">
        Email: <a href="mailto:{{userGetData?.user.email}}">{{userGetData?.user.email }}</a>
      </div>
    </div>

    <div class="related-posts" *ngIf="userGetData?.hasOwnProperty('topics')">
      <h3 class="topics-list-ttl">TOP TOPICS</h3>

      <ul class="topics-list">
        <li *ngFor="let topic of userGetData?.topics">
          <a [routerLink]="['/user/', userGetData?.user.username , 'topic' , topic.title]" [queryParams]="{id: topic.id}">{{topic.title}}</a>
        </li>
      </ul>
    </div>

  </div>
</div>
