@import "../../styles/variables";
@import "../../styles/bootstrap-customize";

.page-wrapper{
  padding-top: 190px;
  padding-bottom: 200px;
  overflow: hidden;
}

.user-info {
  margin-bottom: 40px;
  min-height: 120px;

  @include media-breakpoint-down(xs) {
    min-height: 0;
  }
}

.avatar {
  display: block;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;

  @include media-breakpoint-down(xs) {
    width: 60px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.user-name {
  font: 32px/1 $oswald;
  font-weight: 300;
  color: $darkRed;

  @include media-breakpoint-down(xs) {
    font-size: 26px;
  }
}

.user-nick {
  font: 26px/1.3 $helvetica;
  color: $darkGrey;

  @include media-breakpoint-down(xs) {
    font-size: 18px;
  }
}

.main-info {
  background: #efefef;
  padding: 15px 20px;
  overflow: hidden;
}

.main-info-i {
  display: inline-block;
  font: 14px/1.44 $helvetica;
  color: #bbb;
  margin-right: 20px;

  span {
    color: #666666;
  }

  @include media-breakpoint-down(xs) {
    display: block;
  }
}

.topics-list-ttl {
  font: 32px/1 $oswald;
  font-weight: 300;
  color: $darkRed;
  margin-bottom: 20px;

  @include media-breakpoint-down(xs) {
    font-size: 24px;
  }
}

.related-posts {
  margin-top: 30px;
}

.topics-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    font: 20px/1.4 $helvetica;
    margin-bottom: 15px;

    @include media-breakpoint-down(xs) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}
