/*styles for home content only*/

@import "../../styles/variables";
@import "../../styles/bootstrap-customize";
.top-image{
  background: url( #{$path-img}war-dragons-bg.jpg ) no-repeat;
  background-size: cover;
  height: 528px;
  background-position: center bottom;
  width: 100%;
  margin-bottom: 21px;
  position: relative;
  @include media-breakpoint-up(xl){
    &:before{
      content: '';
      position: absolute;
      background: url( #{$path-img}dragon-orange.png ) no-repeat;
      width: 532px;
      height: 317px;
      top: 130px;
      left: 20px;
    }
    &:after{
      content: '';
      position: absolute;
      background: url( #{$path-img}dragon-purple.png ) no-repeat;
      width: 586px;
      height: 385px;
      top: 130px;
      right: 0;
    }
  }
  @include media-breakpoint-down(lg){
    &:before{
      content: '';
      position: absolute;
      background: url( #{$path-img}dragon-orange.png ) no-repeat;
      width: 399px;
      background-size: cover;
      height: 235px;
      z-index: 0;
      top: 150px;
      left: 20px;
    }
    &:after{
      content: '';
      position: absolute;
      background: url( #{$path-img}dragon-purple.png ) no-repeat;
      background-size: cover;
      width: 470px;
      height: 289px;
      z-index: 0;
      top: 150px;
      right: 0;
    }
  }
  @include media-breakpoint-down(md){
    &:before{
      content: '';
      position: absolute;
      background: url( #{$path-img}dragon-orange.png ) no-repeat;
      width: 266px;
      background-size: cover;
      height: 157px;
      z-index: 0;
      top: 200px;
      left: 20px;
    }
    &:after{
      content: '';
      position: absolute;
      background: url( #{$path-img}dragon-purple.png ) no-repeat;
      background-size: cover;
      width: 293px;
      height: 192px;
      z-index: 0;
      top: 200px;
      right: 0;
    }
  }
  @include media-breakpoint-down(sm){
    &:before{
      display: none;
    }
    &:after{
      display: none;
    }
  }
}
.top-logo{
  position: absolute;
  left: 50%;
  top: 216px;
  transform: translate(-50%, 0);
  z-index: 200;
  max-width: 100%;
  @include media-breakpoint-down(md){
    z-index: 10;
  }
}
.category-item-wrap{
  max-width: 357px;
  -webkit-flex: 1 1 357px;
  @include media-breakpoint-up(xs) {
    max-width: 320px;
    -webkit-flex: 1 1 320px;
  }
}
.category-item{
  text-align: center;
  background: url( #{$path-img}brush-box.png) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font: 16px/1.38 $oswald;
  font-weight: 300;
  color: $black;
  padding: 0 25px;
  width: 327px;
  height: 327px;
  margin-bottom: 30px;
  text-decoration: none !important;
  &:hover{
    background: url(#{$path-img}brush-box-2.png) no-repeat;
    color: #f4bbbd;
    background-size: cover;
    .category-item-ttl{
      color: $white;
    }
    .grey{
      color: #f4bbbd !important;
    }
    img{
      filter:invert(100%) contrast(200%) brightness(150%);

    }
  }
  @include media-breakpoint-up(xs) {
    width: 290px;
    height: 290px;
    background-size: cover;
  }
}
.category-item-img{
  width: 67px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
    filter:invert(0);
  }
}
.category-item-ttl{
  font: 24px/1.17 $oswald;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2.4px;
  color: $darkRed;
  margin-top: 22px;
  margin-bottom: 12px;
}

.category-item-info{
  display: block;
  text-align: center;
  .category-item-topics, .category-item-posts{
    display: inline-block;
    margin: 14px 20px 0;
    .grey{
      color: #666666;
    }
  }
}
.hidden{
  display: none;
}

.login-ttl{
  font: 36px/0.64 $oswald;
  font-weight: 300;
  color: $darkRed;
  margin-bottom: 12px;
}
.login-txt{
  font: 16px/1.38 $helvetica;
  color: #222;
  margin-bottom: 20px;
}
