
<div class="container-fluid">
  <div class="row">
    <div class="top-image">
      <img [src]="logoTop" alt="logo" class="top-logo">
    </div>
  </div>
</div>

<!--<div class="container clearfix" *ngIf="!UserData?.hasOwnProperty('current_user')" style="padding: 250px 20px">
  <h2 class="login-ttl">Welcome to War Dragons</h2>
  <div class="login-txt">An account is required. Please create an account or log in to continue.</div>
  <div class="">
    <a href="" class="btn btn-primary" (click)="LoginInContent($event)">Sign Up</a>
    <a href="" class="btn btn-primary" (click)="LoginInContent($event)">Login</a>
  </div>


</div>-->

<div class="container clearfix">

  <div class="row justify-content-center flex-row flex-wrap">
    <div class="col category-item-wrap" *ngFor="let category of getData" [ngClass]="(category.slug == 'uncategorized') ?  'hidden' : '' ">
      <a [routerLink]="['/category', category.name]" class="category-item">
        <div class="category-item-img" *ngIf="category.uploaded_logo">
          <img [src]="'http://dogwelder.pocketgems.com' + category.uploaded_logo.url" >
        </div>
        <div class="category-item-img" *ngIf="!category.uploaded_logo">
          No Image!
        </div>
        <div class="category-item-ttl">{{ category.name }}</div>
        <div class="category-item-descr">
          {{ (category.description?.length > 80) ? (category.description | slice:0:80)+'...':(category.description) }}
        </div>
        <div class="category-item-info">
          <div class="category-item-topics">
            {{category.topic_count}}
            <div class="grey">Topics</div>
          </div>
          <div class="category-item-posts">
            {{category.post_count}}
            <div class="grey">Posts</div>
          </div>
        </div>
      </a>

    </div>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>


</div>
